<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>442163943245-9csttdom58kn6svckdqs7gtrf92pkd57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442163943245-9csttdom58kn6svckdqs7gtrf92pkd57</string>
	<key>API_KEY</key>
	<string>AIzaSyDhQjMdkHxlTJjMY-jGzeGU3f6nxtlz6q8</string>
	<key>GCM_SENDER_ID</key>
	<string>442163943245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chattranslator</string>
	<key>PROJECT_ID</key>
	<string>chat-translator-2572c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-translator-2572c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442163943245:ios:a365011730ccf305edc904</string>
	<key>DATABASE_URL</key>
	<string>https://chat-translator-2572c.firebaseio.com</string>
</dict>
</plist>